{% extends 'users/base.html' %}

{% block content %}
<h1 class="text-center">{{ title }}</h1>
	<div class="col align-self-center">
	{% for form in forms %}
	<form method="post" action='.'>
	{% for field in form %}
	  <div class="form-group">
	    {{ field.errors }}
	    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
	    <input type="{{ input_type }}" class="form-control" id="{{ field.id_for_label }}" aria-describedby="{{ field.html_name }}-help" placeholder="{{ field.value }}" required>
	    <small id="{{ field.html_name }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
	  </div>
	{% endfor %}	
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	{% endfor %}
        </div>
{% endblock %}
